* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Raleway', sans-serif;
  color: #13389B;
  height: 100%;
  padding: 0;
  background-color: #EFE7DD;
  line-height: 1.6;
}

h1 {
  font-size: 2em; 
  font-weight: 900; 
  line-height: 1.5;
  text-align: center;
  padding: 0.5em;
}

h2 {
  font-size: 1.8em; 
  font-weight: 700; 
  line-height: 1.5;
  text-align: center;
  padding: 0.5em;
}

h3 {
  font-size: 1.2em; 
  font-weight: 800; 
  margin-bottom: 1.1em;
  line-height: 1.5em;
  text-align: center;
  padding: 1.5em;
}

p {
  font-size: 1em; 
  line-height: 200%; 
  margin-bottom: 1.5em;
  margin-top: 1em;
}

span {
  margin-top: 1em;
}

.text-align {
  text-align: center;
  padding: 0% 15%;
}

.small-text {
  font-size: 0.625rem;
}

.container {
  margin: 0 auto;
  width: min(100%);
}

header, footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap; 
  padding: 1.1em; 
  background-color: #FFB96E;
}


img {
  border-radius: 10px;
}

.logo {
  font-size: 2.2em;
  font-weight: bolder;
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  color: #13389B;
}

.produktblaa {
  background-color: #13389B;
  color: #fff;
}

.min-knap {
  background-color: #13389B;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em; 
  transition: background-color 0.3s;
 }

 .min-knap-hvid {
  background-color: #fff;
  color: #13389B;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em; 
  transition: background-color 0.3s;
 }

.min-knap:hover {
  background-color: #FFB96E;
  transition: 1s;
}

.min-knap-hvid:hover {
  background-color: #FFB96E;
  transition: 1s;
}

.knap-position {
display: flex;
justify-content: center; 
align-items: flex-end; 
padding: 1em;
}

.min-knap a{
  color:#EFE7DD;
  text-decoration: none;
}

.min-knap-hvid a{
  color: #13389B;
  text-decoration: none;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  flex-direction: row; 
  background-color: none;
  text-align: center;
  align-items: center; 
}

.navigation li {
  margin-left: 1em;
  padding: 0.3em;
}

.navigation li a {
  text-align: center;
  color: #13389B;
  font-weight: 500;
  font-size: 1.1em;
  text-decoration: none;
}

.punkter {
  list-style-type: none; 
  padding: 0; 
}

.punkter li {
  display: block; 
  margin-right: 20px; 
}

.punkter li::before {
  content: '→ '; 
  padding-right: 5px; 
}

.indryk {
  margin-left: 2em;
  margin-bottom: 2em;
}

.logo:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.navigation li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

section {
  padding: 2rem 2rem;
  }

.split > * {
  width: 100%;
}

section.video {
  padding: 0;
} 

.video-container {
  position: relative;
  padding-top: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.billede {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}


.billede-hop {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.split {
  display: flex;
  flex-direction: column;
}

.introarbejde {
  padding: 2rem 7%;
}

.video-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 

}

.video-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 2% 0;
}

.hyperlink-blaa {
  text-decoration: underline;
  color: #fff;
}

.hyperlink-hvid {
  text-decoration: underline;
  color: #13389B;
}

.hyperlink-blaa:hover {
  display: inline-block;
  text-decoration: none; 
  color: #FFB96E;
  transition: 0.2s;

}
.hyperlink-hvid:hover  {
  display: inline-block;
  text-decoration: none; 
  color: #FFB96E; 
  transition: 0.2s;
}

.ikon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  text-align: center;
}

.ikon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.ikon-tekst{
  font-size: 1.2em;
}

.fa-computer,
.fa-video,
.fa-camera-retro,
.fa-envelope-open-text,
.fa-palette,
.fa-pen {
  font-size: 8em; 
}

.ikon-grid-kontakt {
  display: grid;
  grid-template-columns: repeat(1, 300px); 
  justify-content: center; 
  margin: 0 auto; 
  margin-bottom: 10px; 
}

.kontakt-kasse {
  background-color: #13389B; 
  border-radius: 10px; 
  padding: 10px; 
  width: 350px; 
  height: fit-content; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px auto; 
}

.ikon-grid, 
.ikon-grid-kontakt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 1.5em; 
  width: 100%; 
  margin: 0 auto; 
}

.text-align {
  font-size: 1em; 
  padding: 0 15%; 
}

.text-align {
  font-size: 1em; 
  padding: 0 15%;
  margin-bottom: 50px; 
}

.kontakt-kasse p {
  color: white;
  margin: 0; 
  font-size: 1.125em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: #FFB96E; 
}

.footer-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap; 
  margin-bottom: 1.5em;
}

.footer-content span {
  margin-right: 10px; 
}

footer p {
  margin-top: 10px; 
}


@media screen and (min-width: 601px) and (max-width:900px) {

  .kontakt-kasse {
    width: 350px;
    height: auto;
  }

  .ikon-grid-kontakt {
    grid-template-columns: repeat(1, 300px); 
    margin-bottom: 10px;
  }
}


@media screen and (min-width: 901px){   
  
  header {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
  }

  .navigation ul {
    flex-direction: row;
    padding: 1.5em;
  }
    
  .navigation li {
    margin-left: 1em 
  }

  .split { 
    flex-direction: row;
  }

    .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 3em;
  }

  .container {
    margin: 0 auto;
    width: 100%; 
    padding: 0 15px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    max-width: 1300px; 
  }
 
  .portfolio-container {
        flex-direction: row;
        flex-wrap: wrap;
  }
    
  .portfolio-item {
        width: calc(33.333% - 20px); 
        margin: 10px;
  }

  .ikon-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .kontakt-kasse {
    width: 350px;
    height: 60px; 

  }

  .ikon-grid-kontakt {
    grid-template-columns: repeat(1, 300px);
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1201px) { 
  .ikon-grid.kontakt,
  .ikon-grid {
    max-width: 1000px;
    width: 100%; 
    margin: 0 auto; 
  }

  @media screen and (min-width: 1201px) { 
    .ikon-grid.kontakt {
      max-width: 1000px;
      width: 100%; 
      margin: 0 auto; 
    }
}